body, html {
	padding:0;
	margin:0;
	height: 100%;
	width:100%;
	font-family: sans-serif;
	background-color: whitesmoke;
}

a {text-decoration: none;color:bi;}

#content-header {
	overflow: auto;
	background-image: url('img/logo.png');
        background-position: left;
        background-repeat: repeat-y;
	height: 270px;
	background-color: white;
	position:relative;
}

#logo {
	color:white;
	font-size:200px;
	position:absolute;
	top:20px;
	left:45px;
}

#page {
	width:1100px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	box-shadow: 1px 0px 5px #888888;

}

#page_content{
    margin-top: 70px;
    position:absolute;
    height: 100%;
}

#login{
     font-style: oblique;
     color: black;
/*     background-color: black;*/
     position:absolute;
     opacity: 0.9;
     margin-left: 59%;
     padding: 1px;   
}

#login2{
     font-style: oblique;
     color: black;
/*     background-color: black;*/
     position:absolute;
     opacity: 0.9;
     margin-left: 80%;
     padding: 1px;   
}

#main-menu {
	margin:0;
	padding:0;
	position:absolute;
	width: 1100px;
	background-color: black;
	opacity: 0.9;
	bottom:0;
	text-align: center;
        font-style: oblique;
        border-bottom: 3px solid black ; 
        border-top: 3px solid black;
}

#split_menu{
    background-color: white;
    height: 15px;   
    width: 2px;
}



#content {
	min-height:100%;
	background-color: white;
	padding:10px;
}

#main-menu li {
	display: inline-block;
}
#main-menu li a {
	color:white;
	padding:20px;
	display: block;
}
#main-menu li a:hover {
	background-color: whitesmoke;
	color:#333;
}
#footer {
    height:50px;
    width: 100%;
    background-color: black;
    position: absolute;
    text-align: center;
    opacity: 0.9;
    border-bottom: 3px solid black ; 
    border-top: 3px solid black;
}

#footer li {
    display: inline-block
}

#footer a {
    color:white;
}

.telecharger {
    width:auto;
    padding:8px 0;
    text-align:center;
    display: inline-block;
    float:left;
    margin:0 8px 0 0;
    border-radius:7px;
    font-size: 0.85em;
    width:120px;
    color:white;
    font-family: Arial,sans-serif;
    box-shadow: 0 0 1px rgba( 0, 0, 0, 0.2), 0 -1px 0 rgba( 255, 255, 255, 0.1);
    text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.3);
}

.telecharger, .telecharger:active {
    background: #444;
    background: linear-gradient( #555, #2C2C2C);
    background: -webkit-linear-gradient( #555, #2C2C2C);
    background: -moz-linear-gradient( #555, #2C2C2C);
    background: -ms-linear-gradient( #555, #2C2C2C);
    background: -o-linear-gradient( #555, #2C2C2C);
    background: linear-gradient( #555, #2C2C2C);
}

.telecharger:hover {
    background: #555;
    background: -webkit-linear-gradient( #777, #333);
    background: -moz-linear-gradient( #777, #333);
    background: -ms-linear-gradient( #777, #333);
    background: -o-linear-gradient( #777, #333);
    background: linear-gradient( #777, #333);
}

.telecharger:active{
    box-shadow: 1px 1px 10px #000 inset, 0 1px 0 rgba( 255, 255, 255, 0.4);
}

#download{
    margin-left:50px;
    margin-bottom: 10px;
}


#plug-ins{
   margin-left:50px;
   margin-top: 100px;
}

#split_page{
    background-color: black;
    height: 2px;   
    width: 400px;
    margin-left:50px;
}

#split_page_2{
    background-color: black;
    height: 2px;   
    width: 400px;
    margin-left:350px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#partie1{
    position:relative;
}

#partie2{
    margin-top: 450px;
    margin-left: 80px;
    margin-right: 80px;
    position:relative;
    
    font-size: 1.5em;
    color:black;
    font-family: Arial,sans-serif;
}

#partie3{
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    position:relative;
    
    font-size: 1.5em;
    color:black;
    font-family: Arial,sans-serif;
}

#recherche{
    position:relative;
    margin-left: 20px;
}


#un_plug_in{
    size: 300px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px; 
    margin-right: 400px;
    box-shadow: 2px 0px 10px grey;
}

#text_plug_in{
/*    position : static;*/
    color : black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#un_modele{
    size: 1000px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 120px; 
/*    margin-right: 10px;*/
    box-shadow: 2px 0px 10px grey;
}

#images_upload{
    width: 400px;
}

#text_modele{
/*    position : static;*/
    color : black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#votes{
    font-size: 85%;
}



#split_modele{
    background-color: black;
    height: 2px;   
    width: 400px;
    margin-left:20px;
    margin-bottom: 20px;
    margin-top: 20px;
/*    box-shadow: 0px 0px 10px grey;*/
}

#split{
    border: 0px solid whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 140px;
    margin-right: 140px;
}

#corp_validation{
/*    border: 1px solid black;*/
    width: 50%;
    margin-left: 250px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
/*    background-color: #2a757b;*/
/*     -moz-border-radius:20px; */
/*     border-radius: 20px; */
/*     -khtml-border-radius: 20px; */
/*     -webkit-border-radius: 20px;  */
/*     box-shadow: 5px 5px 5px #888888; */
}

#text_validation{
    position : static;
    color : black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}


#pub{
    position:absolute;
/*    border: 2px solid #0B3861;*/
    width: 30%;
    margin-left: 700px;
    margin-right: 50px;
    margin-top: 80px;
    margin-bottom: 20px;
/*    background-color: whitesmoke;*/
/*    -moz-border-radius:20px;
    border-radius: 20px;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: 5px 5px 5px #888888;*/
}

#text_pub{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}






























.horizontal-nav {
  background: black;
  border-radius: 6px;
}
.horizontal-nav ul {
  background: black;
  float: left;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #0e7079;
}
.horizontal-nav ul li {
  float: left;
  border-left: 1px solid #0e7079;
}
.horizontal-nav ul li:first-child {
  border-left: 0 none;
}
.horizontal-nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  border-top: 1px solid rgba(255,255,255, 0.25);
  border-left: 1px solid rgba(255,255,255, 0.25);
}
.horizontal-nav ul li:first-child a {
  border-left: 0 none;
}
.horizontal-nav ul li a:hover {
  background: #12808a;
}
.horizontal-nav ul li:first-child a {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.horizontal-nav ul li:last-child a {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}